node_modules/
npm-debug.*
.idea/
.DS_Store
ios/Pods/
ios/build/
android/
ios/positiveenergy.xcodeproj/xcuserdata/
ios/positiveenergy.xcodeproj/project.pbxproj
ios/positiveenergy/Supporting/EXShell.plist
ios/positiveenergy/Supporting/EXShell.plist.bak
ios/positiveenergy.xcodeproj/project.xcworkspace/xcuserdata/Manasi.xcuserdatad/
ios/positiveenergy.xcodeproj/project.xcworkspace/xcuserdata/oliviagraham.xcuserdatad/
ios/positiveenergy.xcodeproj/xcuserdata/oliviagraham.xcuserdatad/xcschemes/xcschememanagement.plist
ios/positiveenergy.xcodeproj/xcshareddata/xcschemes/positiveenergy.xcscheme
