node_modules/
npm-debug.*
.idea/
.DS_Store
android/
ios/Pods/
ios/positiveenergy.xcodeproj/xcuserdata/
ios/positiveenergy.xcodeproj/project.pbxproj
ios/positiveenergy/Supporting/EXShell.plist
ios/positiveenergy/Supporting/EXShell.plist.bak
ios/positiveenergy.xcodeproj/project.xcworkspace/xcuserdata/Manasi.xcuserdatad/